<table class="table">
   <thead>
      <tr class="text-center">
         <th scope="col" class="h6">#</th>
         <th scope="col" class="h6">Descrição</th>
         <th scope="col" class="h6">Preço unitário</th>
         <th scope="col" class="h6">Unidade de medida</th>
         <th scope="col" class="h6">Qtd. estoque</th>
         <th>
            <i class="bi bi-gear-wide-connected"></i>
         </th>
      </tr>
   </thead>
   <tbody>
      <tr class="text-center" *ngFor="let p of produtos; let i = index">
         <th scope="row">{{ i + 1 }}</th>
         <td>{{ p.descricao }}</td>
         <td>{{ p.precoUnitario | currency:'BRL' }}</td>
         <td>{{ p.unidadeMedida }}</td>
         <td>{{ p.qtdEstoque }}</td>
         <td>
            <button class="btn btn-primary btn-sm" (click)="modalAtualizarEstoque(atualizarQtd, p.id)">
               <i class="bi bi-plus-circle"></i>
            </button>
            &nbsp;
            <button class="btn btn-warning btn-sm" (click)="modalEditar(editar, p.id)">
               <i class="bi bi-pencil-fill"></i>
            </button>
            &nbsp;
            <button class="btn btn-danger btn-sm" (click)="modalRemover(remover, p.id)">
               <i class="bi bi-trash"></i>
            </button>
         </td>
      </tr>
   </tbody>
</table>

<!-- MODAL PARA EDITAR PRODUTO -->
<ng-template #editar>
   <form [formGroup]="formEditar" (ngSubmit)="editarProduto()">
      <div class="modal-header">
         <h1 class="modal-title h5">Editar <span class="text-warning">{{ produto.descricao }}</span></h1>
      </div>

      <div class="modal-body">
         <div class="row g-2">

            <!-- DESCRIÇÃO -->
            <div class="col">
               <div class="mb-3">
                  <label for="descricao" class="form-label h6">Descrição<span class="text-danger">*</span></label>
                  <input type="text" id="descricao" class="form-control form-control-sm" formControlName="descricao">
               </div>
            </div>
         </div>

         <div class="row g-2">

            <!-- PREÇO UNITÁRIO -->
            <div class="col">
               <div class="mb-3">
                  <label for="precoUnitario" class="form-label h6">Preço unitário<span class="text-danger">*</span></label>
                  <input type="text" id="precoUnitario" class="form-control form-control-sm" formControlName="precoUnitario">
               </div>
            </div>

            <!-- UNIDADE DE MEDIDA -->
            <div class="col">
               <div class="mb-3">
                  <label for="unidadeMedida" class="form-label h6">Unidade de medida<span class="text-danger">*</span></label>
                  <select id="unidadeMedida" class="form-select form-select-sm" formControlName="unidadeMedida">
                     <option disabled>-- Selecione a unidade de medida --</option>
                     <option value="Kg">Quilograma/Kg</option>
                     <option value="Unidade">Unidade/unid.</option>
                     <option value="Litro">Litro/L</option>
                  </select>
               </div>
            </div>
         </div>
      </div>

      <div class="modal-footer">
         <button type="submit" class="btn btn-warning" (click)="editarProduto()">Editar</button>
         &nbsp;
         <button type="submit" class="btn btn-secondary" (click)="this.modalRef?.hide()">Cancelar</button>
      </div>
   </form>
</ng-template>

<!-- MODAL PARA REMOVER PRODUTO -->
<ng-template #remover>
   <div class="modal-header">
      <h1 class="modal-title h5">Remover <span class="text-danger">{{ produto.descricao }}</span>
      </h1>
   </div>

   <div class="modal-body">
      Tem certeza que deseja remover o produto do sistema?
      <br><br>
      Essa ação não poderá ser revertida!
   </div>

   <div class="modal-footer">
      <button class="btn btn-danger" (click)="removerProduto()">Sim</button>
      &nbsp;
      <button class="btn btn-secondary" (click)="modalRef?.hide()">Não</button>
   </div>
</ng-template>

<!-- MODAL PARA ATUALIZAR A QUANTIDADE DE DETERMINADOS PRODUTOS -->
<ng-template #atualizarQtd>
   <form class="form-group" [formGroup]="formQtd" (ngSubmit)="atualizarEstoque()">
      <div class="modal-header">
         <div class="modal-title h5">Atualizar estoque de <span class="text-primary">{{ produto.descricao }}</span>
         </div>
      </div>

      <div class="modal-body">
         <div class="row">
            <label for="quantidade" class="col-8 col-form-label h6">Quantidade a ser adicionada ao estoque:</label>
            <div class="col-4">
               <input type="number" id="quantidade" class="form-control form-control-sm" formControlName="quantidade">
            </div>
         </div>
      </div>

      <div class="modal-footer">
         <button type="submit" class="btn btn-warning" (click)="atualizarEstoque()">Adicionar</button>
         &nbsp;
         <button type="submit" class="btn btn-secondary" (click)="this.modalRef?.hide()">Cancelar</button>
      </div>
   </form>
</ng-template>
