<table class="table">
   <thead>
      <tr class="text-center">
         <th scope="col" class="h6">#</th>
         <th scope="col" class="h6">Nome</th>
         <th scope="col" class="h6">E-mail</th>
         <th scope="col" class="h6">Telefone</th>
         <th scope="col" class="h6">CPF</th>
         <th scope="col" class="h6"><i class="bi bi-gear-wide-connected"></i></th>
      </tr>
   </thead>
   <tbody>
      <tr class="text-center" *ngFor="let c of clientes; let i = index">
         <th scope="row">{{ i + 1 }}</th>
         <td>{{ c.nome }}</td>
         <td>{{ c.email }}</td>
         <td>{{ c.telefone }}</td>
         <td>{{ c.cpf }}</td>
         <td>
            <button class="btn btn-warning btn-sm" (click)="modalEditar(editar, c.id)">
               <i class="bi bi-pencil-fill"></i>
            </button>
            &nbsp;
            <button class="btn btn-danger btn-sm" (click)="modalRemover(remover, c.id)">
               <i class="bi bi-trash"></i>
            </button>
         </td>
      </tr>
   </tbody>
</table>

<ng-template #editar>
   <form [formGroup]="form" (ngSubmit)="editarCliente()">
      <div class="modal-header">
         <h1 class="modal-title h5">Editar informações de {{ cliente.nome }}</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modalRef?.hide()"></button>
      </div>

      <div class="modal-body">
         <div class="row g-2">

            <!-- NOME -->
            <div class="col-12">
               <div class="mb-3">
                  <label for="nome" class="form-label h6">Nome<span class="text-danger">*</span></label>
                  <input type="text" class="form-control form-control-sm" id="nome" formControlName="nome">
               </div>
            </div>
         </div>

         <div class="row g-2">

            <!-- E-MAIL -->
            <div class="col-5">
               <div class="mb-3">
                  <label for="email" class="form-label h6">E-mail<span class="text-danger">*</span></label>
                  <input type="email" class="form-control form-control-sm" id="email" formControlName="email">
               </div>
            </div>

            <!-- TELEFONE -->
            <div class="col-4">
               <div class="mb-3">
                  <label for="telefone" class="form-label h6">Telefone<span class="text-danger">*</span></label>
                  <input type="text" class="form-control form-control-sm" id="telefone" formControlName="telefone" mask="(00) 00000.0000" [dropSpecialCharacters]="false">
               </div>
            </div>

            <!-- CPF -->
            <div class="col-3">
               <div class="mb-3">
                  <label for="cpf" class="form-label h6">CPF<span class="text-danger">*</span></label>
                  <input type="text" class="form-control form-control-sm" id="cpf" formControlName="cpf" mask="000.000.000-00" [dropSpecialCharacters]="false">
               </div>
            </div>
         </div>
      </div>

      <div class="modal-footer">
         <div class="row g-2">
            <div class="col">
               <button type="submit" class="btn btn-warning">Editar</button>
               &nbsp;
               <button class="btn btn-secondary" (click)="modalRef?.hide()">Cancelar</button>
            </div>
         </div>
      </div>
   </form>
</ng-template>

<ng-template #remover>
   <div class="modal-header">
      <h1 class="modal-title h5">Remover cliente</h1>
   </div>

   <div class="modal-body">
      Tem certeza que deseja <strong class="text-danger">remover</strong>
      o cliente <strong>{{ cliente.nome }}</strong> do sistema?
      <br>Essa ação não poderá ser revertida!
   </div>

   <div class="modal-footer">
      <button class="btn btn-danger" (click)="removerCliente()">Sim</button>
      &nbsp;
      <button class="btn btn-secondary" (click)="modalRef?.hide()">Não</button>
   </div>
</ng-template>
