<form [formGroup]="form" (ngSubmit)="adicionar()">
   <div class="row g-2">

      <!-- NOME -->
      <div class="col-12">
         <div class="mb-3">
            <label for="nome" class="form-label h6">Nome<span class="text-danger">*</span></label>
            <input type="text" class="form-control form-control-sm" id="nome" formControlName="nome">
         </div>
      </div>
   </div>

   <div class="row g-2">

      <!-- E-MAIL -->
      <div class="col-5">
         <div class="mb-3">
            <label for="email" class="form-label h6">E-mail<span class="text-danger">*</span></label>
            <input type="email" class="form-control form-control-sm" id="email" formControlName="email">
         </div>
      </div>

      <!-- TELEFONE -->
      <div class="col-4">
         <div class="mb-3">
            <label for="telefone" class="form-label h6">Telefone<span class="text-danger">*</span></label>
            <input type="text" class="form-control form-control-sm" id="telefone" formControlName="telefone">
         </div>
      </div>

      <!-- CPF -->
      <div class="col-3">
         <div class="mb-3">
            <label for="cpf" class="form-label h6">CPF</label>
            <input type="text" class="form-control form-control-sm" id="cpf" formControlName="cpf">
         </div>
      </div>
   </div>
   <div class="row g-2">
      <div class="col">
         <button type="submit" class="btn btn-primary">Adicionar</button>
      </div>
   </div>
</form>
