<table class="table">
   <thead>
      <tr class="text-center">
         <th scope="col" class="h6">#</th>
         <th scope="col" class="h6">nº</th>
         <th scope="col" class="h6">Cliente</th>
         <th scope="col" class="h6">Itens</th>
         <th scope="col" class="h6">Data do pedido</th>
         <th scope="col" class="h6">Prazo de entrega</th>
         <th scope="col" class="h6">Total</th>
         <th scope="col" class="h6">Status</th>
         <th scope="col" class="h6">Endereço de entrega</th>
         <th scope="col" class="h6">
            <i class="bi bi-gear-wide-connected"></i>
         </th>
      </tr>
   </thead>
   <tbody>
      <tr class="text-center" *ngFor="let p of pedidos; let i = index">
         <th scope="row">{{ i + 1 }}</th>
         <td>{{ p.numPedido }}</td>
         <td>{{ p.cliente.nome }}</td>
         <td>
            <button class="btn btn-sm">
               <i class="bi bi-eye-fill" (click)="modalItens(modalItensPedido, p.id)"></i>
            </button>
         </td>
         <td>{{ p.dataPedido | date:'dd/MM/yyyy' }}</td>
         <td>{{ p.dataEntrega | date:'dd/MM/yyyy' }}</td>
         <td>{{ p.total | currency:'BRL' }}</td>
         <td [ngSwitch]="p.status"  [ngClass]="cssFundoStatus(p.status)">
            <i *ngSwitchCase="'Finalizado'" class="bi bi-check text-success h4"></i>
            <i *ngSwitchCase="'Cancelado'" class="bi bi-x text-danger h3"></i>
            <i *ngSwitchCase="'Atrasado'" class="bi bi-exclamation-triangle-fill text-warning h5"></i>
            <i *ngSwitchCase="'Em andamento'" class="bi bi-clock-fill text-primary h5"></i>
         </td>
         <td>
            <button class="btn btn-sm" (click)="modalEndereco(modalEnderecoEntrega, p.id)">
               <i class="bi bi-eye-fill"></i>
            </button>
         </td>
         <td>
            <!-- FINALIZAR PEDIDO -->
            <button *ngIf="p.status !== 'Finalizado' && p.status !== 'Cancelado'" class="btn btn-success btn-sm" title="Finalizar pedido" style="margin-right: 5%;" (click)="modalAcoes(modalFinalizar, p.id)">
               <i class="bi bi-patch-check h6"></i>
            </button>

            <!-- DATA DE FINALIZAÇÃO -->
            <button *ngIf="p.status == 'Finalizado'" class="btn btn-outline-dark btn-sm" title="Data de finalização" style="margin-right: 5%;" popover="{{ p.dataFinalizado | date: 'dd/MM/yyy' }}" popoverTitle="Data de finalização" triggers="mouseenter:mouseleave">
               <i class="bi bi-calendar-week-fill h6"></i>
            </button>

            <!-- CANCELAR PEDIDO -->
            <button *ngIf="p.status !== 'Finalizado' && p.status !== 'Cancelado'" class="btn btn-danger btn-sm" title="Cancelar pedido" style="margin-right: 5%;" (click)="modalAcoes(modalCancelar, p.id)">
               <i class="bi bi-x-octagon h6"></i>
            </button>

            <!-- ARQUIVAR PEDIDO -->
            <button class="btn btn-dark btn-sm" title="Arquivar pedido" (click)="modalAcoes(modalArquivar, p.id)">
               <i class="bi bi-archive h6"></i>
            </button>
         </td>
      </tr>
   </tbody>
</table>

<ng-template #modalEnderecoEntrega>
   <div class="modal-header">
      <h1 class="modal-title h5">Endereço de entrega</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
              (click)="modalRef?.hide()"></button>
   </div>
   <div class="modal-body">
      <table class="table">
         <tbody>
         <tr>
            <th scope="row" class="h6">CEP</th>
            <td>{{ enderecoEntrega.cep }}</td>
         </tr>
         <tr>
            <th scope="row" class="h6">Bairro</th>
            <td>{{ enderecoEntrega.bairro }}</td>
         </tr>
         <tr>
            <th scope="row" class="h6">Rua</th>
            <td>{{ enderecoEntrega.logradouro }}</td>
         </tr>
         <tr>
            <th scope="row" class="h6">Número</th>
            <td>{{ enderecoEntrega.numero }}</td>
         </tr>
         <tr>
            <th scope="row" class="h6">Complemento</th>
            <td>{{ enderecoEntrega.complemento }}</td>
         </tr>
         <tr>
            <th scope="row" class="h6">Ponto de Referência</th>
            <td>{{ enderecoEntrega.pontoReferencia }}</td>
         </tr>
         </tbody>
      </table>
   </div>

   <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="modalRef?.hide()">Fechar</button>
   </div>
</ng-template>

<!-- MODAL DE ITENS DO PEDIDO -->
<ng-template #modalItensPedido>
   <div class="modal-header">
      <h1 class="modal-title h5">Itens inclusos no pedido</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
         (click)="modalRef?.hide()"></button>
   </div>

   <div class="modal-body">
      <table class="table">
         <thead>
            <tr>
               <th scope="col" class="h6">#</th>
               <th scope="col" class="h6">Item</th>
               <th scope="col" class="h6">Quantidade</th>
               <th scope="col" class="h6">Valor</th>
               <th scope="col" class="h6">Data de validade</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let item of itens; let i = index">
               <th scope="row">{{ i + 1 }}</th>
               <td>{{ item.produto.descricao }}</td>
               <td>
                  {{ item.quantidade }}
                  <span [ngSwitch]="item.produto.unidadeMedida">
                     <span *ngSwitchCase="'Unidade'">Unidades</span>
                     <span *ngSwitchCase="'Kg'">Kg</span>
                     <span *ngSwitchCase="'Litro'">Litros</span>
                  </span>
               </td>
               <td>{{ item.subtotal | currency:'BRL' }}</td>
               <td>{{ item.dataValidade | date:'dd/MM/yyyy' }}</td>
            </tr>
         </tbody>
      </table>
   </div>
</ng-template>

<!-- MODAL PARA FINALIZAR O PEDIDO -->
<ng-template #modalFinalizar>
   <form [formGroup]="formFinalizacao" (submit)="alterarStatus('Finalizado')">
   <div class="modal-header">
      <h1 class="modal-title h5">Finalizar pedido n° {{ pedido.numPedido }}</h1>
   </div>
   <div class="modal-body">
      <!-- DATA DE FINALIZAÇÃO DO PEDIDO -->
         <div class="row">
            <label for="dataFinalizado" class="col-4 col-form-label h6">Data de entrega</label>
            <div class="col-8">
               <input type="date" id="dataFinalizado" class="form-control" formControlName="dataFinalizado">
            </div>
         </div>
      </div>
      <div class="modal-footer">
         <button class="btn btn-success mr-3">Finalizar</button>
         <button class="btn btn-secondary" (click)="modalRef?.hide()">Cancelar</button>
      </div>
   </form>
</ng-template>

<!-- MODAL PARA CANCELAR O PEDIDO -->
<ng-template #modalCancelar>
   <div class="modal-header">
      <h1 class="modal-title h5">Cancelar pedido n° {{ pedido.numPedido }}</h1>
   </div>

   <div class="modal-body">
      Deseja <span class="text-danger fw-bold">cancelar</span> o pedido?
   </div>

   <div class="modal-footer">
      <button class="btn btn-danger" (click)="alterarStatus('Cancelado')">Sim</button>
      &nbsp;
      <button class="btn btn-secondary" (click)="modalRef?.hide()">Não</button>
   </div>
</ng-template>

<!-- MODAL PARA ARQUIVAR O PEDIDO -->
<ng-template #modalArquivar>
   <div class="modal-header">
      <h1 class="modal-title h5">Arquivar pedido n° {{ pedido.numPedido }}</h1>
   </div>

   <div class="modal-body">
      <p>
         <i class="bi bi-exclamation-triangle-fill text-warning h5"></i>
         Pedidos <strong>arquivados</strong> não serão mais vistos!
      </p>
      Deseja continuar?
   </div>

   <div class="modal-footer">
      <button class="btn btn-dark" (click)="arquivarPedido()">Sim</button>
      &nbsp;
      <button class="btn btn-secondary" (click)="modalRef?.hide()">Não</button>
   </div>
</ng-template>
