<form [formGroup]="form" (ngSubmit)="adicionar()">
   <div class="row mb-3">

      <!-- DESCRIÇÃO -->
      <div class="col">
         <label for="descricao" class="form-label h6">Descrição do produto<span class="text-danger">*</span></label>
         <input type="text" id="descricao" class="form-control form-control-sm" formControlName="descricao">
      </div>
   </div>

   <div class="row mb-3">

      <!-- PREÇO UNITÁRIO -->
      <div class="col">
         <label for="precoUnitario" class="form-label h6">Preço unitário<span class="text-danger">*</span></label>
         <input type="text" id="precoUnitario" class="form-control form-control-sm" formControlName="precoUnitario" currencyMask [options]="{prefix:'R$ ', thousands:'.', decimal:','}">
      </div>

      <!-- UNIDADE DE MEDIDA -->
      <div class="col">
         <label for="unidadeMedida" class="form-label h6">Unidade de medida<span class="text-danger">*</span></label>
         <select id="unidadeMedida" class="form-select form-select-sm" formControlName="unidadeMedida">
            <option selected disabled>-- Selecione a unidade de medida --</option>
            <option value="Kg">Quilograma/Kg</option>
            <option value="Unidade">Unidade/unid.</option>
            <option value="Litro">Litro/L</option>
         </select>
      </div>

      <!-- QUANTIDADE INICIAL -->
      <div class="col">
         <label for="qtdEstoque" class="form-label h6">Quantidade inicial</label>
         <input type="number" id="qtdEstoque" class="form-control form-control-sm" formControlName="qtdEstoque">
      </div>
   </div>

   <div class="row mb-3">
      <div class="col">
         <button type="submit" class="btn btn-primary">Adicionar</button>
      </div>
   </div>
</form>
